.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.columna{
    background:#0e57885d;
    width: 100px;
}
.columna:nth-child(1){
    height: 300px;
}
.columna:nth-child(2){
    height: 400px;
}
.columna:nth-child(3){
    height: 500px;
}
.columna:nth-child(4){
    height: 600px;
}

.columna:nth-child(even){
    background: red;
}
.columna:nth-child(odd){
    background: #00ff55;
}
.contenedor2 .columna{
    float: left;
}


